<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Job Ad Analysis
</font>
</h1>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
In this project, after performing several pre-processing steps, I analyzed the data of Quera job advertisements.
This dataset contains job ads registered inQuera. To protect the privacy of the companies, the ID of the companies registering the ad has been removed from the dataset. Each line of this data set is a job ad that a company intends to recruit for.
</font>
</p>

In [2]:
import pandas as pd
from datetime import datetime

<h2 style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
The Dataset
</font>
</h2>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
The data set of this project has 8 columns, which are described in the table below.
</font>
</p>

<center>
<div style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| Column|Description|
|:------------------:|:------------------:|
|Level|J (Junior) S (Senior), M (Mid level), I (Intern)|
|Offers Remote|It shows whether the company has remote work option for the job position or not.|
|Publish Time|The date and time the job advertisement was published.|
|Salary|The salary that the company has considered for a specific job position. <code>MT</code> at the end of each term indicates "million tomans" (Tomans is Iran's currency). The <code>></code> and <code><</code> marks indicate the upper limit and lower limit of the written salary.|
|Title|The title for the job ad|
|Close Time|The date and time the job advertisement was closed.|
|State|Shows the current status of the job advertisement. It has three unique values. A (Archived), C (Closed) and PB (Published)|
|Collaboration Type|FT (Full Time) or PT (Part Time)|

    
</font>
</div>
</center>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
This project is compiled in two parts: pre-processing and analysis.
First, I will do the preprocessing steps, then I will go to the analysis step.
</font>
</p>

In [3]:
# read the dataset
df = pd.read_csv("job_posts.csv")
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
4,NaN,False,2017-05-01 20:23:08,NaN,توسعه دهنده #C,2017-06-30 20:23:08,C,NaN
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

<h2 style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Pre-processing
</font>
</h2>

<p style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
The pre-processing of this project includes three steps, after applying them, the dataset is prepared for analysis.
</font>
</p>

<h3 style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
First step
</font>
</h3>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
The rows where <b>all 3 columns</b> <code>Level</code>, <code>Salary</code> and <code>Collaboration Type</code> are missing (<code>NaN</code>) are completely removed from the data. With the data obtained from this step, I go to the second step.
</font>
</p>

In [4]:
# Remove rows wihout "Salary", "Level" and "Collaboration Type" 
df.dropna(subset=['Collaboration Type', 'Level', 'Salary'], how='all', inplace=True)
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
5,J,False,2020-10-11 12:02:37,NaN,Associate Product Manager,2020-11-08 01:27:52,C,FT
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

<h3  style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Second step
</font>
</h3>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
I replaced the <code>Salary</code> column values with the number they have.
For example,I converted something like <code>>6MT</code> To <code>6</code>.
In general, I separated the number of each string from the <code>Salary</code> column and replace it in the dataset.
    </font>
</p>

In [5]:
# Extract "Salary" values
df['Salary'] = df['Salary'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,8.0,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,12.0,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,8.0,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,3.0,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
5,J,False,2020-10-11 12:02:37,NaN,Associate Product Manager,2020-11-08 01:27:52,C,FT
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,12.0,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

<h3 style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Third step
</font>
</h3>

<p style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
I filled in the missing values of the <code>Salary</code> column with average salaries <b>by level</b>. That is, if the <code>Salary</code> of a junior ad (<code>J</code>) was missing, I filled it with the average of all juniors.  
</font>
</p>

In [6]:
# Fill nan values in "Salary" based on "Level"
level_grouped = df.groupby('Level')['Salary'].agg('mean')
mean_I = level_grouped.iloc[0]
mean_J = level_grouped.iloc[1]
mean_M = level_grouped.iloc[2]
mean_S = level_grouped.iloc[3]

df.loc[(df.Salary.isna()) & (df.Level == 'S'), 'Salary'] = mean_S
df.loc[(df.Salary.isna()) & (df.Level == 'M'), 'Salary'] = mean_M
df.loc[(df.Salary.isna()) & (df.Level == 'J'), 'Salary'] = mean_J
df.loc[(df.Salary.isna()) & (df.Level == 'I'), 'Salary'] = mean_I

df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,8.000000,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,12.000000,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,8.000000,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,3.000000,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
5,J,False,2020-10-11 12:02:37,5.620080,Associate Product Manager,2020-11-08 01:27:52,C,FT
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,8.790408,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,8.790408,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,8.790408,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,8.790408,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,12.000000,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
The pre-processing part is finished.</font>
</p>

<h2  style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Analysis    
</font>
</h2>

<p style="line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
The analysis part has 3 steps:
    <ul>
    <li>In the first step, I want to measure the impact of Corona on remote work in Iran.</li>
    <li>In the second step, I measure the effect of time on the publication of job advertisements.</li>
    <li>And finally, in the third step, I will calculate the average salary of the employees of the data field. My favorite field!</li>
    </ul>
</font>
</p>

<h3  style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
First step
</font>
</h3>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
How much has the rate of job ads offering remote work increased compared to before the first official case of Corona in Iran? The meaning of "rate of job ads that offer remote work" is the result of dividing job ads that offer remote work by the total number of ads (the number of dataframe rows). The goal is to find out the impact of Corona on remote work. To solve this problem, I subtracted the rate of remote work ads before Corona from the rate of remote work ads after Corona.
</font>
</p>

In [9]:
start_of_corona = datetime.strptime("2020-02-19", "%Y-%m-%d")
# Find remote_growth
remote_offers_after_corona = len(df.loc[(df['Offers Remote'] == True) & (df['Publish Time'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")) >= start_of_corona)])
remote_offers_before_corona = len(df.loc[(df['Offers Remote'] == True) & (df['Publish Time'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")) < start_of_corona)])
df_len = len(df)

remote_growth =  (remote_offers_after_corona - remote_offers_before_corona) / df_len
remote_growth

0.23820038642009383

<h3  style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Second step
</font>
</h3>

<p style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
In this step, I intend to discretize time, so I divided the 24 hours into 4 categories according to the table below.
</font>
</p>

<center>
<div  style="line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Category|Range|
|:-------:|:-----:|
|dawn|00:00 to 5:59:59|
|morning|06:00 to 11:59:59|
|noon|12:00 to 17:59:59|
|night|18:00 to 23:59:59|
    
</font>
</div>
</center>

<p style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
Now I will calculate how many job advertisements have been published in each of these 4 periods?
</font>
</p>

In [13]:
from datetime import time

dawn = time(hour=6,minute=0,second=0)
morning = time(hour=12,minute=0,second=0)
noon = time(hour=18,minute=0,second=0)
night = time(hour=0,minute=0,second=0)

def discretize_time (time) :
  if time.time() < dawn : 
    return "dawn"
  elif time.time() < morning :
    return "morning"
  elif time.time() < noon :
    return "noon"
  else : return "night"

In [14]:
discrete_time = df.groupby(df['Publish Time'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")).apply(discretize_time))['Publish Time'].agg('count').sort_values(ascending=False).rename_axis("index").rename("discrete_time")

In [18]:
discrete_time

index
noon       3950
morning    2443
night       746
dawn        107
Name: discrete_time, dtype: int64


<h3 style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Final step</font>
</h3>

<p  style="text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
In this step, I want to check the salary of the employees of the data field. In order to be able to filter job ads in this field, I wrote a list of keywords. I assume that all job postings that use one of these words in (<code>Title</code>) are related to the data field. The title of an ad does not have to be one of the keys in the list of keywords; Just if a key is part of the title of a job ad, I assume that job ad is data-related.
<br><br>
Now I will examine this: What is the average salary of people in the field of data according to their level?   
</font>
</p>

In [19]:
keywords = ['machine learning', 'machinelearning', 'داده' , 'data scientist' ,  'datascientist' ,\
        'هوش مصنوعی' ,'پردازش ویدئو' , 'data engineer' , 'dataengineer' ,'بینایی ماشین' , 'یادگیری ماشین' ,\
        'deep learning', 'deeplearning', 'یادگیری عمیق', 'دیتاساینتیست' , 'artificial intelligence' \
        ,'artificialintelligence', 'هوش' , 'data analysis' , 'dataanalysis' , 'پردازش تصویر' , 'شبکه‌های عمیق', 'علم‌داده']

In [21]:
# Find data_mean
df['Title'] = df['Title'].str.lower()
# data_mean = df.loc[df['Title'].apply(lambda x: any(ele in x for ele in keywords))].groupby('Level')['Salary'].agg('mean').rename("data_mean")
pattern = '|'.join(keywords)
data_mean = df[df.Title.str.contains(pattern)].groupby('Level').Salary.mean()
data_mean

Level
I     2.256501
J     5.750707
M    12.000000
S     8.891994
Name: Salary, dtype: float64